#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div {
  border: inherit 5px solid;
}

select {
  width: 100%;
  height: 2.5rem;
  margin: 1px;
  border: solid #c8d8eb 1px;
  ::after {
    content: "";
    width: 15px;
    height: 1;
  }
}
