.container {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  button {
    width: 15rem;
    height: 3rem;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: 0.25s;

    border: 2px solid #a2d2ff;
    &:hover {
      background: #b2b2b2;
      border: 2px solid none;
      transition: 0.25s;
      color: #e9e9e9;
    }
    &:active {
      transition: 0.25s;
      background: #ffafcc;
      transform: translateY(5px);
    }
  }
}

.vertical-line {
  border-left: #a2d2ff solid 0.25rem;
  height: 2rem;
}

.not-update-box,
.update-box {
  height: 15rem;
  width: 15rem;
  background: rgba(0, 0, 0, 0.2);
  display: grid;
  transition: 0.5s;
  place-items: center;
  border-radius: 0.5rem;
  div {
    padding: 0.5rem;
  }
}

.boolean-marker {
  border: 1px solid black;
  padding: 0.5rem;
  width: 5rem;
  text-align: center;
}
