.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  padding: 15px;
  button {
    width: 15rem;
    height: 3rem;
    font-weight: bold;
    border-radius: 0%;
    border: none;
    color: #b2b2b2;
    &:hover {
      background: #b2b2b2;
      border: 2px solid #e9e9ed;
      transition: 0.25s;
      color: #e9e9e9;
    }
    &:active {
      transition: 0s;
      background: #ffafcc;
      transform: translateY(5px);
    }
  }
}

.update-box {
  height: 150px;
  width: 150px;
  background: rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
}
.not-update-box {
  height: 150px;
  width: 150px;
  background: rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
}

.boolean-marker {
  border: 1px solid black;
  padding: 0.5rem;
  width: 5rem;
  text-align: center;
}
